*.ipynb_checkpoints/
.checkpoints/
*.pyc
__pycache__/
.DS_Store
Thumbs.db
.env
.env.local
*.env.*
.vscode/
.idea/
*.log
*.tmp
*.swp
coverage/
htmlcov/
.coverage
build/
dist/
node_modules/
.venv/
venv/
.mypy_cache/
.pytest_cache/
target/
.gradle/